.suspension-modal-modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* Increased width */
  max-height: 90vh; /* Ensure the modal doesn't overflow the screen */
  overflow-y: auto; /* Enable scrolling if content is too tall */
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 40px; /* Increased padding for a more spacious layout */
  font-family: 'Times New Roman', Times, serif;
}
  
  .suspension-modal-formContainer {
    margin: 0;
    padding: 0;
  }
  
  .suspension-modal-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Directly target all <p> elements */
  p {
    line-height: 1.8;
    font-size: 18px; /* Slightly larger font for a bigger modal */
  }
  
  strong {
    font-weight: bold;
  }
  
  /* Ensure paragraph margin styling */
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  /* Close Button */
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 24px;
  color: #000; /* Primary color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.1);
  color: #000; /* Slightly darker primary color on hover */
}

.name {
  text-align: center; /* Ensure the name is centered */
}


.separator {
  display: flex;
  justify-content: space-between; /* Spaces out the signature containers */
  width: 100%; /* Ensure the containers take up full width */
}

.signatureContainer {
  display: flex;
  flex-direction: column; /* Stack the signature line and label vertically */
  align-items: center; /* Center the signature line and label horizontally */
  flex: 1; /* Ensure containers take equal space */
}

.signatureLine {
  text-align: center; /* Center the signature line */
}

.signatureLabel {
  margin-top: 5px; /* Add some space between the signature line and label */
  text-align: center; /* Center the label under the line */
}
