/* Content title */
.h1-title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #81343a;
  font-weight: bold;
  margin-right: 5px;
}

.h2-title-record {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.RecordTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.TitleContainer {
  display: flex; /* Use flexbox */
  align-items: center; /* Align titles vertically */
}

.triple-container {
  display: flex;
  gap: 50px; /* Adds space between the containers */
  margin-bottom: 30px;
}

.details-container {
  padding: 25px; /* Adds some padding inside each container */
  border: 2px solid #8A252C;
  border-radius: 20px; /* Optional: Slightly rounds the corners of the container */
  background-color: #f9f9f9; /* Optional: Light background color */
  width: 900px;
  /*height: 380px;*/
}

.search-container {
  height: 50%;
  width: 70%;
}

.search-container input {
  width: 250px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  background-color: #ffffff;
}

.search-container label {
  margin-top: 10px;  
}


.filter-container{
  margin-top: 50px;
  max-width: 100%;
}

.details-table {
  width: 100%;  
  border-collapse: collapse;  
}

.details-table td {
  padding: 8px 15px;  
}

.details-table td:nth-child(1) {
  width: 25%;  
  text-align: left;  
}

.details-table td:nth-child(2) {
  width: 10%; 
  text-align: center; 
}

.details-table td:nth-child(3) {
  width: 65%;  
  text-align: left;  
}

/* Filter Styles */
.filters {
  margin-bottom: 20px; /* Space between filters and the chart */
  display: flex;
  gap: 10px; /* Space between individual filter elements */
  flex-wrap: wrap; /* Allows filters to wrap to the next line if necessary */
  text-align: center;
}

.filters select,
.filterContainer select {
  padding: 10px; /* Reduced padding for a tighter look */
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Consistent border */
  border-radius: 4px; /* Smooth edges */
  background-color: #fff; /* White background */
  color: #414141; /* Darker text color for contrast */
  width: auto; /* Adjusts width based on content */
  text-align: center; /* Center the text inside the select */
  margin-left: 10px; /* Removed unnecessary left margin */
  position: relative;
}

.filterContainer {
  margin: 10px 0px;
  max-width: 100%; /* Ensures it doesn't exceed the parent container's width */
  display: flex; /* Added flexbox to control layout */
  gap: 10px; /* Space between individual filters */
  flex-wrap: wrap; /* Allows filters to wrap to the next line if necessary */
  justify-content: space-between;
}

/* Chart Styles */
.chart {
  padding: 50px; /* Padding around the chart for better spacing */
  border: 2px solid #8A252C; /* Optional: border around the chart */
  border-radius: 8px; /* Rounded corners for the chart */
  background-color: #f9f9f9; /* Light background for contrast */
}

.chartWrapper {
  margin-top: 30px;
  max-width: 100%;
  max-height: 95%;
  align-items: center;
  display: flex;
  justify-content: center;
}

