.record-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.record-modal-content {
  background-color: #fff;
  padding: 30px;
  width: 90%;  
  height: 70%;  
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 3px solid #000;
}

/* Modal Title */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Key-Value List Container */
.key-value-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* Individual Key-Value Item */
.key-value-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Key Label */
.key {
  font-weight: bold;
  color: #333;
  width: 40%;
  text-align: left;
  font-size: 16px;
}

/* Value Content */
.value {
  color: #555;
  width: 60%;
  text-align: right;
  font-size: 16px;
  word-wrap: break-word;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .key-value-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .key {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  .value {
    width: 100%;
    text-align: left;
  }
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px; /* Keep the button inside the modal */
  cursor: pointer;
  color: #333;
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  max-width: 360px;  
  overflow-y: auto;
  margin-left: 21.7%;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

